html, body {
    margin: 0;
    padding: 0;
    min-height: calc(100% - 44px);
}

/*
|--------------------------------------------------------------------------
| Base SitecSec
|--------------------------------------------------------------------------
*/

.app-wrapper {
    width: 100%;
    min-height: calc(100% - 44px);
    overflow: hidden;
    padding: 0px !important;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 44px;
}

/*
|--------------------------------------------------------------------------
| Alert
|--------------------------------------------------------------------------
*/
.alert {
    position: fixed!important;
    bottom: 24px;
    left: 24px;
    z-index: 1000;
}

/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
*/

.main {
    display: flex;
    padding: 24px;
    width: calc(100% - 280px);
    margin-left: 280px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.index-table {
    margin-top: 12px;
    a {
        margin: 0 8px;
    }
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #FFF;
    z-index: 100;
    position: fixed;
}

.footer p {
    line-height: 44px;
    margin: 0 0 0 24px;
    padding: 0;
}
